body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #232526;
    background-color: #f9def2; 
    background-image: linear-gradient(90deg, #f9def2, #ebf7f8); 
}

h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    color: #DDD;
}

.motion-gif {
    max-width: 3rem;
    display: inline-block;;
}

#add-movie-form {
    background-color: #fed9e4; 
    /*background-image: linear-gradient(#fed9e4, #fed2f0, #ffffff); */
    background-image: url("../images/spilled_popcorn_full.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 400px;;
    color: #DDD;

}

.movie-poster {
    max-width: 250px;
}

#gifs-view {
    overflow: scroll;
}

.movie-poster {
    width: 200px;
}

#movies-title {
    background-color: #EEE;
    /* background-image: linear-gradient(23deg,#fd64a2, #fffbed, #fee9f8, #fffbff) */

}


#display-result {
    max-height: 400px;
    overflow: scroll;
    background-color: #f9dde3;
    background-image: linear-gradient(#ffffff, #f9dde3, #bab8d4)
}

#movie-info-view {
    max-height: 400px;
    overflow: scroll;
}
#header-jumbotron {
    padding: 1rem 1rem !important;
    background-color: #232526; 
    background-image: linear-gradient(45deg, #232526, #414345); 

}

#add-a-movie-title {
    text-shadow: 2px 2px 8px #232526;
}